.DS_Store

engine/.classpath
engine/.project
engine/bin

report/.DS_Store
report/assignment-1-blx.bib
report/assignment-1.aux
report/assignment-1.log
report/assignment-1.out
report/assignment-1.pdf
report/assignment-1.run.xml
report/assignment-1.toc
report/auto/